.sideBarWrapper{
    overflow: auto;
    padding: 20px 30px 30px 30px;
    border-radius: 0 3px 3px 0;
    min-height: 100%;
}

.bodyWrapper{

}

.vectorFiltersWrapper{
    margin-top: 20px;
}

.sectionWrapper{
    /*margin-bottom: 20px;*/
}
.sectionWrapper:last-child{
    margin-bottom: 0;
}
.sectionHeader{
    font-weight: bold;
    margin-bottom: 10px;
}

.vectorName{
    font-weight: bold;
    margin-bottom: 10px;
}

.filterWrapper{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px;
}

.filter{
    margin-top: 10px;
}

.filterName{
    margin-bottom: 5px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.empty{
    font-style: italic;
    color: hsl(0, 0%, 60%);
}

.groupWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.groupBadge {
    background-color: #EBECF0;
    border-radius: 2em;
    color: #172B4D;
    display: inline-block;
    font-size: 12;
    font-weight: normal;
    line-height: 1;
    min-width: 1;
    padding: 0.16666666666667em 0.5em;
    text-align: center;
}